.content-card {
  position: relative;
  isolation: isolate;
  padding-block: 5rem;
}

/* Full-width background */
.content-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset-block: 0;

  left: calc(50% - 50vw);
  right: calc(50% - 50vw);

  background-color: var(--sand);
  border-radius: 5.5rem;
}

.content-card__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.content-card__title {
  margin: 0;
}

.content-card__content p {
  margin: 0;
  line-height: 1.7;
}

@media (max-width: 720px) {
  .content-card {
    padding-block: 3rem;
  }

  .content-card::before {
    border-radius: 3rem;
  }
}
