.design-process {
  position: relative;
  isolation: isolate;
  padding-block: 3rem;
}

.design-process::before {
  content: "";
  position: absolute;
  inset-block: 0;
  left: calc(50% - 50vw);

  width: 100vw;

  border: 1px solid var(--graa);
  border-radius: 5.5rem;

  z-index: -1;
}

.design-process h2 {
  margin-bottom: 2rem;
}

.design-process__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  align-items: start;
}

.design-process__item {
  text-align: center;
}

.design-process__item h3 {
  margin-bottom: 1.5rem;
}

.design-process__image {
  display: block;
  width: 50%;
  height: auto;
  margin-inline: auto;
}

@media (max-width: 720px) {
  .design-process {
    padding: 2rem;
  }

  .design-process__grid {
    grid-template-columns: 1fr;
  }
}
