.project-process__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.process-card {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 19rem;
}

.process-card__graphic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.process-card__content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 2rem 2rem;
  text-align: center;
}

.process-card__content ul {
  margin: 1rem 0 0;
  padding: 0;
  list-style: none;
}
