.process-marker {
  position: relative;
  width: 18rem;
}

.process-marker__image {
  display: block;
  width: 100%;
  height: auto;
}

.process-marker__text {
  position: absolute;
  top: 65%;
  left: 50%;

  width: 100%;
  margin: 0;

  text-align: center;
  white-space: nowrap;

  transform: translate(-50%, -50%);
}

@media (max-width: 720px) {
  .process-marker {
    width: 14rem;
  }

  .process-marker__text {
    font-size: 0.95rem;
  }
}
